@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

:root {
  --black-text: #666666;
  --main-color: #3459ce;
  --soft-color: #c3d1ff;
  --softly-color: #e3eaff;
  --white: #fff;
  --soft-gray: rgb(240, 240, 240);
  --border-gray: rgb(199, 199, 199);
  --active: #c1fdda;
  --active-font: #01a775;
  --no-active: #808080;
  --main-button: #4e77ff;
  --canceled: rgb(255, 218, 238);
  --canceled-font: rgb(255, 0, 85);
  --warning: rgb(253, 214, 177);
  --warning-font: rgb(255, 145, 0);
  --box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.08);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-color);
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: var(--black-text);
}

h1 {
  color: var(--main-color);
  font-size: 1.4rem;
  margin: 0.5rem 0 0.5rem 0;
}

h2 {
  color: var(--main-color);
  font-size: 1.2rem;
  margin: 0.5rem 0 0.5rem 0;
}

h3 {
  color: var(--main-color);
  margin: 0.3rem 0 0 0;
}

h4 {
  color: var(--white);
  font-weight: lighter;
  margin: 1rem 0 0 0;
}

/* --------------------------------------------/
|                   UTILITIES 
\* -------------------------------------------*/

.action-btn {
  background-color: var(--white);
  border: 1px solid var(--main-button);
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--main-button);
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;
  float: right;
}

.active {
  background-color: var(--white);
  width: 80%;
  color: var(--main-color);
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.active-btn {
  background-color: var(--active);
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
  font-weight: bold;
  color: var(--active-font);
  text-align: center;
}

.canceled-btn {
  background-color: var(--canceled);
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
  font-weight: bold;
  color: var(--canceled-font);
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 30% 70%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 2rem;
  height: 100vh;
}

.discount-btn {
  background-color: var(--soft-gray);
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
  font-weight: bold;
  color: var(--no-active);
  text-align: center;
}

.link-dark {
  color: var(--white);
  text-decoration: none;
}

.main-btn {
  background-color: var(--main-button);
  padding: 1rem 2rem 1rem 2rem;
  float: right;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--white);
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
}

.main-title {
  font-size: 2.5rem;
  margin: 1.5rem 0;
  color: var(--white);
}

.menu {
  padding: 1rem;
}

.no-active {
  color: var(--white);
}

.no-active > img {
  filter: brightness(5);
}

.payments-btn {
  background-color: var(--white);
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--main-button);
  letter-spacing: 0.1rem;
  border-radius: 0.25rem;
  box-shadow: var(--box-shadow);
}

.disable {
  padding: 0;
  background-color: var(--softly-color);
  box-shadow: none;
}

.secondary-btn {
  position: relative;
  left: 25%;
  background-color: var(--white);
  padding: 1rem 2rem 1rem 2rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--main-button);
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
}

.split-line {
  border-bottom: 1px solid var(--white);
}

.split-line-blue {
  border-bottom: 1px solid var(--soft-color);
  margin: 3rem 0;
}
.title-active {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--main-color);
  text-decoration: none;
  text-align: center;
}

.title-no-active {
  text-decoration: none;
  text-align: center;
}

.title-no-active h2 {
  color: var(--no-active);
}

.txt-margin-right {
  margin-right: 1rem;
}

.white-title {
  margin-top: 2rem;
  color: var(--white);
}

.warning-btn {
  background-color: var(--warning);
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
  font-weight: bold;
  color: var(--warning-font);
  width: 50%;
  height: fit-content;
  text-align: center;
}

/*********** Start Lateral Menu **********/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__company-img {
  height: 80px;
  border-radius: 0.5rem;
  background-color: var(--white);
  padding: 0.5rem 1rem;
  text-align: center;
}

.header__company-img img {
  height: 100%;
}

.header__icons {
  display: flex;
  align-items: center;
}

.header__icons img {
  margin: 0 1rem;
}

.nav__btn {
  display: flex;
  margin-top: 1rem;
  text-decoration: none;
}

.nav__btn img {
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer__cards-icons {
  display: flex;
  align-items: center;
}

.footer__cards-icons img {
  margin-right: 0.5rem;
}

.footer__cards-icons--stripe {
  display: flex;
  align-items: center;
  border: 1px solid var(--white);
  border-radius: 0.25rem;
  padding: 0 0.5rem;
}

.footer__cards-icons--stripe h5 {
  color: var(--white);
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.footer-container {
  position: sticky;
  padding: 1rem;
}

.footer-logo {
  margin-bottom: 1rem;
}

/*************** End Lateral Menu **************/

/*********** Start Description Section **********/

.description-container {
  padding: 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  height: fit-content;
}

.subscription-card {
  display: grid;
  grid-template-columns: minmax(150px, 30%) 1fr;
  width: 100%;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  margin-bottom: 2.5rem;
}

.info-container {
  padding: 1rem;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem 0 0rem 1rem;
}

.subscription-title {
  display: flex;
  align-items: center;
}

.subscription-title h3 {
  margin-right: 2rem;
}

.price-frequency {
  display: flex;
}

.price-frequency > div {
  margin-right: 2rem;
}

.price-frequency small {
  font-size: 0.7rem;
}

/*********** End Description Section **********/

/*********** Start Subscription Detail Styles **********/

/*------- Start Carousel ------*/

@keyframes carousel-slide {
  0% {
    transform: translateX(0%);
  }
  33.33% {
    transform: translateX(-33.33%);
  }
  66.66% {
    transform: translateX(-66.66%);
  }
}

.carousel {
  width: 100%;
  border-radius: 1rem;
  overflow-x: hidden;
}

.carousel input {
  display: none;
}

.carousel label {
  display: inline-block;
  margin: 0 0.25rem;
  width: 0.5rem;
  height: 0.5rem;
  border: 2px solid var(--main-button);
  border-radius: 50%;
  cursor: pointer;
}

.carousel .slides {
  width: 300%;
  padding: 0;
  display: flex;
  list-style: none;
  transition: transform 0.5s ease-in-out;
  animation: carousel-slide 9s ease-in-out;
}

.carousel-img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#slide-1:checked ~ .slides {
  transform: translateX(0%);
}

#slide-2:checked ~ .slides {
  transform: translateX(-33.33%);
}

#slide-3:checked ~ .slides {
  transform: translateX(-66.66%);
}

#slide-1:checked ~ .slides-nav label#dot-1,
#slide-2:checked ~ .slides-nav label#dot-2,
#slide-3:checked ~ .slides-nav label#dot-3 {
  background-color: var(--main-color);
}

.slides-nav {
  text-align: center;
}

/*------- End Carousel ------*/

.subscription-header {
  display: flex;
  margin-bottom: 2rem;
}

.subscription-header a {
  margin-right: 2rem;
}

.subscription-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.subscription-fee p {
  margin: 1rem 0 0rem 0;
}

.subscription-img--container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.subscription-delete {
  text-decoration: none;
  color: var(--no-active);
}

/*********** End Subscription Detail Styles **********/

/*********** Start Payment Styles **********/

.credit-card-number img {
  width: 2rem;
  margin-right: 1rem;
}

.credit-card-number {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.credit-card-owner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-type-payments {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: var(--softly-color);
}

.payments-info--row {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
  margin: 1rem 0;
}

.payments-info--row > .active-btn {
  width: 50%;
}

.payments-info--row > .canceled-btn {
  width: 50%;
}

.payment-success--row {
  display: flex;
  align-items: baseline;
}

.payment-discount--row {
  display: flex;
  align-items: baseline;
}

.payment-method {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.08);
  margin-bottom: 2.5rem;
  align-items: center;
  padding: 1rem;
}

/*********** End Payment Styles **********/

/*********** Start Form User Data **********/

.form-container {
  display: flex;
  flex-wrap: wrap;
}

.form-fieldset {
  flex: 1 1 180px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-gray);
}

.form-fieldset--input {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-gray);
}

.form-fieldset input {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  color: var(--black-text);
  padding: 0.3rem;
  border: none;
  width: 100%;
  outline: none;
}

/*********** End Form User Data **********/
/* --------------------------------------------/
                   LARGE 992 PX
\* -------------------------------------------*/

@media screen and (max-width: 992px) {
  .container {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .description-container {
    margin: 1rem;
  }
}

/* --------------------------------------------/
                   MEDIUM 768 PX
\* -------------------------------------------*/

@media screen and (max-width: 768px) {
  .credit-card-number {
    flex-wrap: wrap;
  }

  .img-container img {
    border-radius: 1rem;
  }

  .nav-type-payments {
    flex-wrap: wrap;
  }

  .payments-info--row {
    grid-template-columns: 1fr;
  }

  .payment-method {
    grid-template-columns: 1fr;
  }

  .payment-discount--row {
    display: block;
  }

  .secondary-btn {
    position: static;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
  }
  .subscription-card {
    grid-template-columns: 1fr;
  }
  .subscription-header {
    flex-wrap: wrap;
  }
}
